button, [type='submit'], [type='button'] {
    border-radius: 5px;
}

div#userAccounts {
    text-align: center;
}

div#createNewUserButton {
    padding-top: 30px;
}

div#createUserContainer {
    margin-top: 20px;
}

body {
    background: coral;
}