<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Brian Bliss</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../css/app.css"/>
    <link rel="stylesheet" href="../css/foundation.css"/>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />-->

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />-->
</head>
<body>
<div class="headerContainer">
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle=""></button>
        <div class="title-bar-title">NSI</div>
    </div>

    <div class="top-bar" id="example-menu">
        <div class="top-bar-center">
            <h1 class="cursiveFont hide-for-small-only">NSI</h1>
            <div class="menu-centered">
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-8 small-centered columns">
        <h1 th:text="${workout.name}"></h1>
        <p th:text="${workout.description}"></p>
    </div>
</div>

<hr />

<div class="row createDayContainer" style="margin-top:30px;">
    <div class="small-12 medium-8 small-centered columns">
        <button type="button" class="expanded button" data-open="createNewDayButton">+ Add New Day</button>
    </div>
</div>

<hr />

<div class="row">
    <div class="small-12 medium-8 small-centered columns">
        <h2>Days</h2>
        <div id="userDays" th:each="day : ${days}">
            <a th:href="@{'/exercises?id=' + ${day.id}}">
                <button type="button" class="expanded button" th:text="${day.name}"></button>
            </a>
        </div>
    </div>
</div>

<div class="reveal" id="createNewDayButton" data-reveal="">
    <div class="row">
        <div class="small-12 medium-8 small-centered columns">
            <form th:object="${insertDay}" method="POST">
                <div class="form-group">
                    <label for="name">Day Name: (e.g. Day 1 - Upper Body)</label>
                    <input id="name" type="text" placeholder="" th:field="*{name}" />
                </div>
                <input id="account"  type="hidden" th:field="*{workout}"/>
                <button type="submit" class="button">Submit</button>
                <button class="close-button" data-close="" aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </div>
    </div>
</div>


<script src="../js/vendor/jquery.js"></script>
<script src="../js/vendor/what-input.js"></script>
<script src="../js/vendor/foundation.js"></script>
<script src="../js/day/day.js"></script>

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>
</html>
