<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Brian Bliss</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../css/foundation.css"/>
    <link rel="stylesheet" href="../css/app.css"/>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />-->

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />-->
</head>
<body>
    <div class="row">
        <div class="small-12 medium-8 small-centered columns">
            <h1>Brian Bliss Workouts</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-8 small-centered columns">
            <form th:object="${insertRecord}" method="POST">
                <div class="form-group">
                    <label for="data">Enter Exercise Name:</label>
                    <input id="data" type="text" class="form-control" placeholder="" th:field="*{data}" />
                </div>
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="small-12 medium-8 small-centered columns">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Exercise Name:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="record : ${records}">
                        <td th:text="${record.data}">Some text</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<script src="../js/vendor/jquery.js"></script>
<script src="../js/vendor/what-input.js"></script>
<script src="../js/vendor/foundation.js"></script>
<script src="../js/app.js"></script>

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>
</html>
